<section class="container mt-5">
    <h2 class="fw-bold">Bienvenido: AD</h2>
    <p>Has iniciado sesión en Angular</p>
    <h2>Usuario Registrado:</h2>
    <ul>
        <li>AD (admin)</li>
    </ul>
</section>
<!-- <section class="container">
    <section class="container mt-5">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th *ngFor="let item of thead">{{ item | titlecase }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of usersArray">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.username }}</td>
                </tr>
            </tbody>
        </table>
    </section>
</section> -->